html, body, pre {
  border: none;
  background: #000;
  color: #0F0;
  font-family: 'Source Code Pro', 'Andale Mono', 'Lucida Console', Consolas, Courier, monospace;
}

a, a:link, a:visited,
.close, .close:hover,
.navbar-inverse .navbar-nav > li > a {
  color: #0F0;
  text-decoration: underline;
}

a:active, a:hover,
.close, .close:hover,
.navbar-inverse .navbar-nav > li > a {
  text-decoration: none;
}

.modal-content, .nav>li>a:focus, .nav>li>a:hover {
  background-color: #222;
}

.modal-header {
  border-bottom: #000 1px solid;
}

footer {
  padding: 50px 0 0;
}

footer .row > div {
  padding: 40px 0;
}

footer .row + .row > .text-center {
  border-top: #0F0 1px dashed;
}

#intro {
  padding: 120px 0;
  text-align: center;
}

.blur {
  box-shadow:
    0px 0px 0px 10px rgba(255,255,255,1),
    1px 1px 3px 10px rgba(0,0,0,0.2);
  transition:
    opacity 0.2s linear,
    text-shadow 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

.blur td, .blur th, .blur a, .blur {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0);
  opacity: 0.5;
}

.btn-danger {
  background-color: #E31837;
}
